{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container px-4 py-5">
    <h1 class="pb-2 border-bottom">We Take Care Of Pets, Like Pets Take Care Of You</h1>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <h2 class="fw-bold text-body-emphasis">Your Pet's Health</h2>
        <p class="text-body-secondary">
			Pets are always there for us – so it’s only fair that we’re always there for them, too.  
			That’s why our team of pet-lovers, scientists, vets, and more, have dedicated over 70 years to advancing pet health.  
			Our products are so trusted and effective, they’re in almost every vet practice in the country.
		</p>
      </div>

      <div class="col">
        <div class="row row-cols-1">
			<img src="{% static 'image/03-img-innovator-about.jpg' %}" class="img-fluid" alt="...">
        </div>
      </div>
    </div>

	<div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
		<div class="col d-flex flex-column align-items-start gap-2">
		  <h2 class="fw-bold text-body-emphasis">Supporting You</h2>
		  <p class="text-body-secondary">
			While we continue to seek out new and better ways to help pets live long, healthy lives, we think it’s equally important that you’ve got the tools you need.
		  </p>
		</div>
  
		<div class="col">
		  <div class="row row-cols-1">
			  <img src="{% static 'image/04-img-guidance-about.jpg' %}" class="img-fluid" alt="...">
		  </div>
		</div>
	  </div>


	  <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
		<div class="col d-flex flex-column align-items-start gap-2">
		  <h2 class="fw-bold text-body-emphasis">The Pet Community</h2>
		  <h2 class="fw-bold text-body-emphasis">Helping Pets and Those That Care for Them</h2>
		  <p class="text-body-secondary">
			Pets give us so much. 
			That’s why we’re committed not only to their health, but to those that love and care for them. We partner and support a variety of initiatives dedicated to the greater pet community; 
			from the shelters that help them find homes, to the vets that dedicate themselves to their wellbeing, to the parents that make them part of a loving family. 
		  </p>
		</div>
  
		<div class="col">
		  <div class="row row-cols-1">
			  <img src="{% static 'image/06-img-community-about.jpg' %}" class="img-fluid" alt="...">
		  </div>
		</div>
	  </div>
  </div>

{% endblock content%}