{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% if title %} {{ title }} {% else %} Pet Care Store {% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'image/Logo.png' %}" alt="Logo" width="60" height="60" >
                    Pet Care Store
                </a>
                <div class="collapse navbar-collapse d-grid gap-2 d-md-block" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                      <li><a href="{% url 'shop:home_page' %}" class="nav-link px-2 text-dark">Home</a></li>
                        <!-- categories dropdown -->
                        <div class="dropdown text-end">
                          <a href="#" class=" mt-2 me-1 ms-1 text-dark d-block link-dark text-decoration-none dropdown-toggle"id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                          <ul class="dropdown-menu" aria-labelledby="dropdownUser1">
                            {% for category in categories %}
                            <!-- check if category is parent -->
                              {% if not category.is_sub %}
                                <!-- parent -->
                                <li><a href="{% url 'shop:filter_by_category' category.slug %}" class="dropdown-item text-capitalize bg-light border"><b>{{ category }}</b></a></li>
                                {% for child in category.sub_categories.all %}
                                <!-- child -->
                                <li><a href="{% url 'shop:filter_by_category' child.slug %}" class="dropdown-item">{{ child }}</a></li>
                                {% endfor %}
                              {% endif %}
                            {% endfor %}
                          </ul>
                        </div>
                        <li><a href="{% url 'blog:blog_index' %}" class="nav-link px-2 text-dark">Posts</a></li>
                        <li><a href="{% url 'shop:about' %}" class="nav-link px-2 text-dark">About</a></li>
                        <li><a href="{% url 'shop:address' %}" class="nav-link px-2 text-dark">Address</a></li>
                        <li class="nav-item"><a class="nav-link px-2 text-dark" href="https://www.stack-ai.com/internal_ui/d4ce3faf-2e79-4260-97b8-7c065c8d2ba3/9e3bfb9b-da04-404f-93e4-f8d7486a1b32/660ebc58163bf468fb476ee2">AI Chat Bot</a></li>
                    </ul>
                    <!-- search form -->
                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="{% url 'shop:search' %}">
                      <input name="q" type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                    </form>
                    <!-- cart icon -->
                    {% if request.user.is_authenticated %}
                    <b class="text-primary">{{ cart_count }}</b>
                    {% endif %}
                    <a href="{% url 'cart:show_cart' %}" class="text-primary mt-2 me-2"><i class="material-icons h3">&#xe8cc;</i></a>
                    {% if request.user.is_authenticated %}
                    <!-- user profile dropdown -->
                    <div class="dropdown text-end">
                      <a href="#" class="btn btn-primary text-white me-4 d-block link-dark text-decoration-none dropdown-toggle"id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownUser1">
                        <li><a href="{% url 'cart:show_cart' %}" <a class="dropdown-item">Cart</a></li>
                        <li><a href="{% url 'shop:favorites' %}" <a class="dropdown-item">Favorites</a></li>
                        <li><a href="{% url 'orders:user_orders' %}" <a class="dropdown-item">Orders</a></li>
                        <li><a class="dropdown-item" href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li>
                        <li><a class="dropdown-item text-danger" href="{% url 'accounts:user_logout' %}">Sign out</a></li>
                      </ul>
                    </div>
                    {% else %}
                    <!-- login, sign-up btn -->
                    <div class="text-end">
                      <a href="{% url 'accounts:user_login' %}" class="btn btn-outline-primary me-2">Login</a>
                      <a href="{% url 'accounts:user_register' %}" class="btn btn-primary">Sign-up</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    <main class="container">
      <div class="row mt-3">
        <!-- messages -->
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
        <!-- content -->
        {% block content %}{% endblock %}
      </div>
    </main>
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Products</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Blog</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Store Address</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">AI Chat Bot</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2024 Company, Inc</p>
      </footer>

</body>
</html>